@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Dancing+Script:wght@400;500;600;700&family=Lobster&family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Set global font (after adding Google Fonts in index.html) */
body {
  font-family: 'Roboto', sans-serif;
}

.logo-light {
    background-image: url('src/assets/images/logo-light.png');
}

.logo-dark {
    background-image: url('src/assets/images/logo-dark.png');
}
